@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Noto+Sans+HK:wght@100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    font-family: "Noto Sans HK", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
}
.container .content{
    text-align: center;
}
.container .content h3{
    font-size: 30px;
    color: #333;
}
.container .content h3 span{
    background: #af2532;
    color: #fff;
    border-radius: 5px;
    padding: 0 10px;
}
.container .content h1{
    font-size: 50px;
    color: #333;
}
.container .content h1 span{
    color: #DA5F05;
}
.container .content p{
    font-size: 25px;
    margin-bottom: 20px;
}
.container .content .btn{
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;
    background: #333;
    color: #fff;
    margin: 0 5px;
    text-transform: capitalize;
}
.container .content .btn:hover{
    background: #af2532;
}
.position-container {
    display: none;
}

/* Custom responsive styles for smaller screens */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .my-5 {
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
    }

    .card {
        padding: 20px;
    }
}